<footer class="backgroundcolor text-white py-6 md:px-28">
      <div class="lg:container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="text-center">
                <b>Michiel Van Loy</b> <br>
                <a href="mailto:michielvanloy2003@gmail.com">
                    michielvanloy2003&commat;gmail.com
                </a>
                <a href="https://www.linkedin.com/in/michiel-van-loy-b7682b252/" target="_blank">
                    <img src="../../assets/images/linkedin.png" alt="LinkedIn" class="icons h-6 m-auto pt-1">
                </a>
            </div>

            <div class="flex flex-col md:flex-row pt-4 md:p-0 md:space-x-4">
                <button class="font-medium px-1 m-auto" (click)="navigate('/home')">
                    Home
                </button>
                <button class="font-medium px-1 text-center" (click)="navigate('/over-mij')">
                    Over mij
                </button>
                <button class="font-medium px-1" (click)="navigate('/stage')">
                    Stage
                </button>
                <button class="font-medium px-1" (click)="navigate('/projecten')">
                    Projecten
                </button>
            </div>

            <div class="text-center pt-4 md:p-0">
                &copy; 2024 Michiel Van Loy.<br>Alle rechten voorbehouden.
            </div>
        </div>
    </div>
</footer>
