<div class="py-6 md:py-12 bg-transition">
  <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16">
    <div class="lg:w-1/2 text-justify">
      <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Wie ben ik?</h2>
      <p class="text-gray-700 text-xl mb-4">
        Hallo, mijn naam is Michiel Van Loy, ik ben geboren op 29 mei 2003 en ik woon in Begijnendijk.
        Ik ben iemand die houdt van sporten en natuur. Vandaar dat ik ook al meerdere jaren ijshockey speel, maar ook van gamen kan ik enorm van genieten.
      </p>
      <p class="text-gray-700 text-lg mb-4">
        In het middelbaar ben ik gestart met de richting Industriële Wetenschappen waarna ik ben overgestapt naar Toegepaste Informatica.
        Hier heb ik mijn passie voor programmeren ontdekt.
      </p>
      <p class="text-gray-700 text-lg">
        Momenteel ben ik een derdejaars student Application Development aan het Thomas More in Geel.
        Hier heb ik door middel van projecten ondervonden dat ik als full stack developer aan de slag wil gaan.
        Vandaar dat ik ook bij dotNET lab een full stack developer stage heb gedaan.
      </p>
    </div>

    <div class="lg:w-1/2 mt-5 lg:mt-0 flex justify-center">
      <img src="../../assets/images/ijshockey-persoonlijke-foto.jpg" alt="Foto ijshockey" class="rounded-lg w-96">
    </div>
  </div>

  <div class="container mx-auto flex flex-col lg:flex-row px-4 sm:px-8 lg:px-16 mt-10">
    <div class="lg:w-1/2 text-left">
      <h5 class="text-xl font-bold text-gray-800 mb-4">Hard Skills</h5>
      <div class="mb-4">
        <div class="flex justify-between">
          <span class="text-gray-700 font-medium">HTML & CSS</span>
          <span class="text-gray-500">85%</span>
        </div>
        <div class="bg-gray-300 rounded-full h-2.5">
          <div class="bg-blue-500 h-2.5 rounded-full" style="width: 85%;"></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="flex justify-between">
          <span class="text-gray-700 font-medium">Angular</span>
          <span class="text-gray-500">80%</span>
        </div>
        <div class="bg-gray-300 rounded-full h-2.5">
          <div class="bg-red-500 h-2.5 rounded-full" style="width: 80%;"></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="flex justify-between">
          <span class="text-gray-700 font-medium">React</span>
          <span class="text-gray-500">75%</span>
        </div>
        <div class="bg-gray-300 rounded-full h-2.5">
          <div class="bg-light-blue-400 h-2.5 rounded-full" style="width: 75%; background-color: #00d8ff;"></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="flex justify-between">
          <span class="text-gray-700 font-medium">.NET</span>
          <span class="text-gray-500">80%</span>
        </div>
        <div class="bg-gray-300 rounded-full h-2.5">
          <div class="bg-purple-600 h-2.5 rounded-full" style="width: 80%;"></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="flex justify-between">
          <span class="text-gray-700 font-medium">Java</span>
          <span class="text-gray-500">70%</span>
        </div>
        <div class="bg-gray-300 rounded-full h-2.5">
          <div class="bg-orange-500 h-2.5 rounded-full" style="width: 70%;"></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="flex justify-between">
          <span class="text-gray-700 font-medium">Nederlands</span>
          <span class="text-gray-500">90%</span>
        </div>
        <div class="bg-gray-300 rounded-full h-2.5">
          <div class="bg-green-500 h-2.5 rounded-full" style="width: 90%;"></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="flex justify-between">
          <span class="text-gray-700 font-medium">Engels</span>
          <span class="text-gray-500">85%</span>
        </div>
        <div class="bg-gray-300 rounded-full h-2.5">
          <div class="bg-yellow-500 h-2.5 rounded-full" style="width: 85%;"></div>
        </div>
      </div>
    </div>
  
    <div class="lg:w-1/2 mt-4 lg:mt-0 lg:pl-10 xl:pl-24 2xl:pl-40">
      <h5 class="text-xl font-bold text-gray-800 mb-2">Soft Skills</h5>
      <ul class="list-disc list-inside space-y-1 lg:space-y-2 text-blue-gray-700">
        <li>Teamwerk</li>
        <li>Flexibel</li>
        <li>Communicatie</li>
        <li>Perfectionisme</li>
        <li>Doorzettingsvermogen</li>
      </ul>
    </div>
  </div>

  <div class="container mx-auto flex flex-col lg:flex-row px-4 sm:px-8 lg:px-16 mt-10">
    <div class="lg:w-1/2 lg:mt-0 flex justify-center lg:justify-end">
      <img src="../../assets/images/michielvanloy2.jpg" alt="Michiel Van Loy" class="rounded-lg w-96">
    </div>
    
    <div class="lg:w-1/2 text-left  lg:pl-10 xl:pl-24 2xl:pl-40 lg:m-0 lg:my-auto mt-4" style="max-width: 384px;">
      <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Meer info?</h2>
      <div class="flex flex-col">
        <button class="text-left">
          <a href="../../assets/documents/CV Michiel Van Loy.pdf" target="_blank" class="backgroundcolor text-white font-medium text-lg rounded-md px-6 py-3">
            Bekijk CV
          </a>
        </button>
        <button class="text-left mt-7">
          <a href="../../assets/documents/CV Michiel Van Loy.pdf" download="CV Michiel Van Loy.pdf" class="backgroundcolor text-white font-medium text-lg rounded-md px-6 py-3">
            Download CV
          </a>
        </button>
      </div>
      
      <p class="flex pt-5">
        <img src="../../assets/images/email.png" alt="Email" class="icons w-7 mr-2">
        <a href="mailto:michielvanloy2003@gmail.com">
          michielvanloy2003&commat;gmail.com
        </a>
      </p>
      <p class="flex pt-2.5">
        <img src="../../assets/images/linkedin.png" alt="LinkedIn" class="icons w-7 mr-2">
        <a href="https://www.linkedin.com/in/michiel-van-loy-b7682b252/" target="_blank">
          Michiel Van Loy
        </a>
      </p>
    </div>
  </div>
</div>
