<div class="py-6 md:py-12 bg-transition">
    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16">
        <div class="lg:w-1/2 text-justify">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4 text-left">Stage: DNL InfoSec Portal</h2>
            <p class="text-gray-700 text-xl mb-4">
                Van 16 september tot 13 december heb ik 13 weken stage gelopen bij dotNET lab.
                Dit is een IT consultancy bedrijf gelegen in Heultje. 
                Ze hebben meer dan 20 jaar ervaring en zijn met meer dan 60 gecertificeerde Microsoft professionals.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                De stageopdracht die ik kreeg, was het maken van een Engelse webapplicatie waar klanten hun security scores op konden zien, het DNL InfoSec Portal.
                Een werknemer van dotNET lab zou dan een security audit doen bij de klant.
                Bij deze audit wordt het bedrijf op 18 CIS controls (Center for Internet Security) getest.
            </p>
            <p class="text-gray-700 text-lg">
                Deze controls zijn eigenlijk 18 vereisten waaraan een bedrijf moet voldoen om een veilig bedrijf te zijn.
                De scores van de audit werden dan omgezet naar één score die, inclusief opgestelde verbeterpunten, werd ingegeven in de webapplicatie.
                De klant kon op zijn beurt de score en verbeterpunten terugvinden op het portaal en zijn beveiliging verbeteren.
            </p>
        </div>

        <div class="lg:w-1/2 lg:mt-0">
            <img src="../../assets/images/dotNET-lab-logo.png" alt="dotNET lab logo" class="rounded-lg w-96 mx-auto">
            <img src="../../assets/images/CIS.PNG" alt="CIS logo" class="rounded-lg w-96 mx-auto">
        </div>
    </div>

    <div class="container mx-auto px-4 sm:px-8 lg:px-16 mt-10 text-justify">
        <h2 class="text-3xl font-extrabold text-gray-800 mb-4 text-left">Wat was het doel van de stage?</h2>
        <p class="text-gray-700 text-xl mb-4">
            Het doel van mijn stage bij dotNET lab was ervoor zorgen dat ik klaar was voor de start van mijn professionele carrière.
            Hiermee bedoel ik dat ik zowel mijn hard- en softskills moest verbeteren.
        </p>
        <p class="text-gray-700 text-lg mb-4">
            Daarom dat ik als full stack developer aan de slag kon gaan met het project.
            Tijdens dit projectwerk heb ik zowel mijn technische, als mijn persoonlijke vaardigheden ontwikkeld.
            Een echte werkomgeving was toch een stuk anders dan de omgeving op school.
            <!-- Dit heb ik gedaan door tijdens de stageperiode aan een project te werken wat ze in de toekomst voor hun klanten willen gebruiken. -->
        </p>
        <p class="text-gray-700 text-lg">
            Dit project gaf me een gevoel van verantwoordelijkheid, aangezien ik de enige full stack developer was.
            Ook de mogelijkheid om aan mezelf te werken was enorm belangrijk tijdens de stageperiode.
            Vandaar dat ik enorm blij ben dat ik mijn theoretische kennis heb kunnen toepassen in een echte werkomgeving.
        </p>
    </div>

    <div class="container mx-auto flex flex-col lg:flex-row px-4 sm:px-8 lg:px-16 mt-10">
        <div class="lg:w-4/5 text-justify">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4 text-left">Hoe heb ik dit doel bereikt?</h2>
            <p class="text-gray-700 text-xl mb-4">
                Dit heb ik gedaan door alles stap voor stap aan te pakken.
                Voor ik kon starten aan de webapplicatie zelf moest ik eerst een grondige analyse doen van het project.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                Deze analyse was nodig omdat er in de toekomst nog ging verder gewerkt worden aan de applicatie.
                De werknemer die eraan zou verder werken kon dan mijn analyse doornemen en alles te weten komen over het doel van het project en hoe dit allemaal gemaakt moest worden.
                Gedurende een zestal weken was de analyse geëvolueerd tot een gedetailleerde analyse waar alles in stond beschreven.
                Hierin had ik voor elk onderdeel van de applicatie uitgelegd wat dit onderdeel was, waarom dit nodig was en de stappen om dit te implementeren.
                Door het maken van deze analyse heb ik enorm veel bijgeleerd over het analyseren van een project en het belang ervan.
            </p>
            <p class="text-gray-700 text-lg">
                Toen ik aan de applicatie kon starten heb ik volledig vanaf nul alles opgezet.
                Dit wil zeggen dat ik zowel de back-end als de front-end had gemaakt.
                Bij de back-end was het belangrijk dat ik alles opzette met behulp van clean architecture, dit met de nieuwste versie van .NET, .NET 5.0.
                Voor de front-end had ik dan weer verschillende componenten aangemaakt om op deze manier de applicatie zo overzichtelijk mogelijk te houden.
                Ook dit gebeurde in de nieuwste versie van Angular, Angular 18.
            </p>
            <p class="text-gray-700 text-lg">
                Voor meer details over de uitwerking van het project verwijs ik naar de documenten die ik hier meegeef.
            </p>
        </div>

        <div class="lg:w-1/5 mt-4 lg:mt-0 lg:ml-10 flex flex-col">
            <h2 class="text-2xl font-extrabold text-gray-800 mb-4 text-left">Extra documenten</h2>
            <a href="../../assets/documents/Plan van aanpak Michiel Van Loy.pdf" target="_blank" class="color text-lg font-medium">
                - Plan van aanpak
            </a>
            <a href="../../assets/documents/Realisatie Michiel Van Loy.pdf" target="_blank" class="color text-lg font-medium">
                - Realisatie
            </a>
            <a href="../../assets/documents/Reflectie Michiel Van Loy.pdf" target="_blank" class="color text-lg font-medium">
                - Reflectie
            </a>
        </div>
    </div>

    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16 mt-10">
        <div class="text-center lg:text-left">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Gebruiker pagina's</h2>
            <h2 class="text-xl font-extrabold text-gray-800 mb-4">Score pagina</h2>
            <p class="text-gray-700 text-xl flex flex-col lg:flex-row lg:space-x-2">
                <img src="../../assets/images/screenshots/stage/user/score/read detail.PNG" alt="Score pagina" class="rounded-lg">
            </p>
        </div>
    </div>

    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16 mt-10">
        <div class="text-center lg:text-left">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Administrator pagina's</h2>
            <h2 class="text-xl font-extrabold text-gray-800 mb-4">Manage users pagina</h2>
            <p class="text-gray-700 text-xl flex flex-col lg:flex-row lg:space-x-2 mb-5">
                <img src="../../assets/images/screenshots/stage/admin/Manage users/read.PNG" alt="Manage users pagina" class="rounded-lg">
            </p>
            <h2 class="text-xl font-extrabold text-gray-800 mb-4">Manage clients pagina (edit scherm)</h2>
            <p class="text-gray-700 text-xl flex flex-col lg:flex-row lg:space-x-2 mb-3">
                <img src="../../assets/images/screenshots/stage/admin/Manage clients/edit 1.PNG" alt="Manage clients pagina" class="rounded-lg">
            </p>
        </div>
    </div>
</div>