<div class="py-6 md:py-12 bg-transition">
    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16">
        <div class="lg:w-1/2 text-justify">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Project 4.0</h2>
            <p class="text-gray-700 text-xl">
                Samen met studenten van de andere IT-richtingen kregen we de opdracht een applicatie te maken ouderen te controleren met AI, daarom hebben wij ElderWatch gemaakt.
            </p>
        </div>
    
        <div class="lg:w-1/2 mt-4 lg:mt-0 flex justify-center lg:ml-8">
            <img src="../../assets/images/screenshots/project4.0/homepagina.PNG" alt="Project 4.0" class="rounded-md">
        </div>
    </div>

    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16 mt-10">
        <div class="lg:w-1/2 flex justify-center lg:mr-8">
            <img src="../../assets/images/screenshots/project4.0/mobile alert.jpg" alt="Mobiele alert" class="rounded-md" style="height: 600px;">
        </div>
    
        <div class="lg:w-1/2 text-justify mt-4 lg:mt-0">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Opdracht</h2>
            <p class="text-gray-700 text-xl mb-4">
                Voor project 4.0 kregen we de opdracht van Mediaan om een applicatie te maken dat door middel van AI kan herkennen of een oudere in nood is of niet.
                Ons AI-systeem zou herkennen dat een oudere persoon valt, en een melding sturen naar de verzorger.
                Deze persoon kan dan in het systeem naar een korte video kijken om te controleren of de oudere echt is gevallen.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                Wanneer een oudere echt is gevallen kan de verzorger zichzelf toewijzen aan dit incident en de oudere gaan helpen.
                Dit incident kan dan geëscaleerd worden, of gemarkeerd worden als opgelost.
                Ook is er de mogelijkheid voor de oudere om manueel een melding te sturen naar de verzorger.
            </p>
            <p class="text-gray-700 text-lg">
                Dit project was, zoals ik al zei, in samenwerking met studenten van de andere richtingen.
                Zo hadden we twee AI-studenten die verantwoordelijk waren voor het herkennen van een persoon die valt.
                Ook een AI die herkent hoeveel personen er aanwezig waren is gemaakt door deze twee studenten.
                Onze CCS-student was dan weer verantwoordelijk voor het opzetten van de Azure omgeving en het hosten van de applicatie.
            </p>
        </div>
    </div>

    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16 mt-10">
        <div class="lg:w-1/2 text-justify">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Mijn bijdrage</h2>
            <p class="text-gray-700 text-xl mb-4">
                Voor dit project kreeg ik de rol van full stack developer.
                Ik heb dus zowel de front-end als de back-end gemaakt, natuurlijk samen met mijn team.
                In dit project heb ik de grafiek gemaakt voor het weergeven hoeveel personen er aanwezig zijn bij de oudere.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                Deze grafiek maakte gebruik van data die het AI-systeem doorstuurde naar de applicatie.
                Ik heb deze data dan op een mooie manier weergegeven in de grafiek, en extra informatie erbij gezet wanneer je over de data hovert.
                Dit was een requirement die enkel voor onze groep van toepassing was.
            </p>
            <p class="text-gray-700 text-lg">
                Ook de detailpagina is zo goed als volledig door mij gemaakt.
                Dit was een enorm verwarrende pagina doordat het weergeven van de data verschilde per status van het incident.
                Gelukkig is de pagina af geraakt en heb ik het samen met mijn team tot een mooi einde kunnen brengen.
            </p>
        </div>
    
        <div class="lg:w-1/2 mt-4 lg:mt-0 flex justify-center lg:ml-8">
            <img src="../../assets/images/screenshots/project4.0/headcount.png" alt="Headcount pagina" class="rounded-md mx-auto">
        </div>
    </div>

    <div class="container mx-auto items-center px-4 sm:px-8 lg:px-16 mt-10 text-justify">
        <img src="../../assets/images/screenshots/project4.0/alerts.png" alt="Alerts" class="rounded-lg mx-auto">
        <img src="../../assets/images/screenshots/project4.0/details with video.png" alt="Detail pagina met video" class="rounded-lg mx-auto mt-3">
    </div>
</div>