<div class="flex items-center justify-center pt-6 lg:pt-0 bg-transition" style="min-height: calc(100vh - 192px);">
    <div class="container px-4 sm:px-8 lg:px-16 xl:px-32 flex flex-col items-center lg:flex-row">
        <div class="w-full text-center">
            <h1 class="text-4xl font-extrabold text-gray-800 sm:text-5xl">
                Michiel Van Loy
            </h1>
            <p class="mt-4 text-lg text-gray-700 sm:text-xl mx-4 sm:mx-20 lg:mx-12 xl:mx-20">
                Welkom op mijn portfolio. Hier kun je alles te weten komen over mij en mijn loopbaan als student.
            </p>
            <div class="mt-4">
                <button class="backgroundcolor text-white font-medium text-lg rounded-md px-6 py-3" (click)="navigate('/over-mij')">
                    Meer over mij
                </button>
                <button>
                    <a href="../../assets/documents/CV Michiel Van Loy.pdf" target="_blank" class="bg-gray-100 text-gray-700 font-medium text-lg rounded-md ml-4 px-6 py-3.5">
                        Bekijk CV
                    </a>
                </button>
                
            </div>
        </div>

        <div class="w-full my-8 flex justify-center">
            <img src="../../assets/images/michielvanloy.jpg" alt="Michiel Van Loy" class="rounded-md w-96">
        </div>
    </div>
</div>
