<div class="py-6 md:py-12 bg-transition">
    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16">
        <div class="lg:w-1/2 text-justify">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4 text-left">Angular challenge: Trip planner</h2>
            <p class="text-gray-700 text-xl">
                Samen met nog 4 andere medestudenten kregen we de opdracht om een trip planner te maken, vandaar dat wij als groep TravelSync hebben gemaakt.
            </p>
        </div>
    
        <div class="lg:w-1/2 mt-4 lg:mt-0 flex justify-center lg:ml-8">
            <img src="../../assets/images/screenshots/angular challenge/homepagina.png" alt="Angular challenge" class="rounded-md">
        </div>
    </div>

    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16 mt-10">
        <div class="lg:w-1/2 flex justify-center lg:mr-8">
            <img src="../../assets/images/screenshots/angular challenge/groepsfoto.jpg" alt="Groepsfoto" class="rounded-md">
        </div>

        <div class="lg:w-1/2 text-justify mt-4 lg:mt-0">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Opdracht</h2>
            <p class="text-gray-700 text-xl mb-4">
                Voor het vak Angular kregen we de opdracht om samen in een groep van vijf studenten een trip planner te maken, de Angular challenge.
                Dit was een echte challenge, we namen het namelijk op tegen 10 andere groepen.
                Elke groep moest een applicatie maken doorheen het eerste semester van het derde jaar en deze applicatie dan voorstellen voor de jury.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                Deze challenge gebeurt jaarlijks in samenwerking met dotNET lab, waarbij twee van hun experten ons wekelijks kwamen helpen waar nodig.
                Zo keken ze elke week onze code na zodat we op het einde van het traject een mooi resultaat hadden.
            </p>
            <p class="text-gray-700 text-lg">
                Voor deze challenge hebben we een mooie overzichtelijke dashboard gemaakt waar de gebruiker trips kan beheren.
                Deze trip bestond uit verschillende dagen, bestemmingen en activiteiten.
                Dit was allemaal onderdeel van het project waar we enorm hard voor hadden gewerkt.
                Dat was dan ook te zien aan het resultaat, want mijn groep en ik hadden de eerste plaats behaald.
            </p>
        </div>
    </div>

    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-8 lg:px-16 mt-10">
        <div class="lg:w-1/2 text-justify">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Mijn bijdrage</h2>
            <p class="text-gray-700 text-xl mb-4">
                In dit project had ik rol van full stack developer op mij genomen.
                Dit wil zeggen dat ik zowel back-end als front-end heb gemaakt.
                Een onderdeel wat dan weer vooral mijn verantwoordelijkheid was, was het implementeren van de Ticketmaster API.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                Ik was met het idee gekomen om festivals/optredens vanuit onze applicatie te vinden.
                Hiervoor heb ik de Ticketmaster API gebruikt om alle optredens op een bepaalde locatie, tussen specifieke datums te tonen.
                Op deze manier kon de gebruiker makkelijk en snel kijken welke evenementen er waren op het moment dat ze op die locatie waren.
            </p>
            <p class="text-gray-700 text-lg">
                Dit was in het begin best lastig, aangezien ik dit nog niet had gebruikt.
                Na wat onderzoek doen en dingen uitproberen kwam ik erachter wat er allemaal mogelijk was met die API.
                Hierdoor heb ik een handige tool kunnen toevoegen aan onze applicatie.
            </p>
        </div>
    
        <div class="lg:w-1/2 mt-4 lg:mt-0 flex justify-center lg:ml-8">
            <img src="../../assets/images/screenshots/angular challenge/ticketmaster.png" alt="Ticketmaster" class="rounded-lg mx-auto">
        </div>
    </div>

    <div class="container mx-auto items-center px-4 sm:px-8 lg:px-16 mt-10 text-justify">
        <img src="../../assets/images/screenshots/angular challenge/trip beheren.png" alt="Trip beheren" class="rounded-lg mx-auto">
        <img src="../../assets/images/screenshots/angular challenge/activiteit.png" alt="Activiteit" class="rounded-lg mx-auto mt-3">
    </div>
</div>